@font-face {
  font-family: Poppins;
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto/static/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../Fonts/Roboto/static/Roboto-Regular.ttf);
}

:root {
  --site-color: #29c3e5;
  --site-color-hover: #0A1A2F;
}

body {
  background-color: var(--site-color-hover);
}

h1 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 45px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  color: #fff;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

p {
  font-family: Roboto-light, sans-serif;
  color: #faf7fa;
}

a:hover {
  cursor: pointer;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--site-color);
  color: #fff;
  padding: 0 20px;
  height: 80px;
}

.logo {
  width: 150px;
  height: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
  text-decoration: none;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  transition: all ease-in-out 200ms;
}

.nav-links a.active,
.nav-links a:hover {
  color: var(--site-color-hover);
}

/* Footer */

footer {
  background: var(--site-color-hover);
  color: #fff;
  padding: 40px 20px 20px;

}

.tagline {
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-description {
  font-size: 14px;
  margin: 25px 0;
  line-height: 20px;
}

footer a {
  color: var(--site-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer p {
  padding-left: 15px;
  color: #faf7fa;
}

footer a:hover {
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px 45px 25px 0;
}

.footer-left {
  flex: 1;
  max-width: 50%;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}

.footer-sitemap {
  margin-right: 60px;
}

.socials {
  margin-bottom: 15px;
}

.socials a {
  font-size: 22px;
  margin-left: 10px;
}

.footer-sitemap h3 {
  margin-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-legal h3 {
  margin-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-sitemap ul {
  list-style: none;
}

.footer-legal ul {
  list-style: none;

}

.footer-sitemap li {
  font-size: 14px;
  margin: 3px 0;
}

.footer-legal li {
  font-size: 14px;
  margin: 3px 0;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
}